{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>INFO</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bizinfo.css' %}">    
    
</head>
<body>
    
    <div class="whole_page">
        <header class="header">        
            <div class="nav_bar">
                <P class="header_text">RECHARGE <span>and</span> </P>
                <p class="header_text_2">GETPAID</p>
                
                <div class="menu_links">
                    <a href="{% url 'home' %}">HOME</a>
                    <a href="{% url 'about' %}">ABOUT US</a>
                    <a href="{% url 'contact' %}">CONTACT US</a>
                </div>
            </div>
        </header>
        

        <div class="picture_section">
    		<div class="image_container">
        		<div class="images">
                    <img  src="{% static 'images/vtu 4.jpg' %}" class="pictures" alt="">
        		</div>
        	</div>
        
        	<div class="overlay">
        		<p class="contact_us">HOW TO GENERATE INCOME USING THIS PLATFORM</p>
            </div>
        </div>
        

        <div class="description_body">
            <div class="description_details_1">
                ALL BANKS in Nigeria have become VTU vendors by selling AIRTIME via VTU on all their channels and they are seriously advertising this BUSINESS.
                In fact, some banks have deployed USSD to sell airtime. So, if this business is not PROFITABLE then why will the banks INVEST so much into it?
                Average banks in Nigerian earn 30billion naira annual profit on VTU business, with the huge profit made from telecom industry, how much goes into YOUR POCKET?
                Do YOU even MAKE MONEY when YOU BUY AND USE AIRTIME and DATA? If your answer is 'NO', you might want to keep reading.
            </div>
            
            <p class="description_first_header">UPGRADE YOUR FINANCIAL STATUS BY LEVERAGING ON 13.6 BILLION NAIRA PROFIT GENERATED FROM TELECOM INDUSTRY</p>
            <p class="description_second_header">RECHARGE BY YOURSELF, RECHARGE TO YOURSELF AND EARN FOR YOURSELF</p>
    
            <div class="description_details_2">
                Through Recharge and Get Paid, you can now make millions of naira by simply buying and using Airtime and Data yourself.
                You can vend VTU to yourself, family and friends, save cost and still earn on all your recharges and theirs.     
            </div>
            
            <p class="description_third_header">DO YOU HAVE THE QUESTION OF "HOW THEN DO I DO IT?" WELL THIS IS HOW IT WORKS</p>
            
            <div class="description_details_3">
                With as little as N5000 investment on this platform, your quest for extra means of sustainable income and constant cash flow will come to an end!
                This platform offers a variety of <a>registration packages and their instant benefits.</a> 
            </div>
    
            <!--Table of Packages and Benefits-->
            <table style="width: 100%;">
                <tr>
                    <th>REGISTRATION PACKAGE</th>
                    <th>REGISTRATION FEE</th>
                    <th>20% SIGN-UP BONUS</th>
                    <th>POINT VALUE(PV) GENERATED</th>
                    <th>DEPTH OF REFERRAL COMMISSIONS</th>
                </tr>

                <tr>
                    <td>EXECUTIVE PLATINUM</td>
                    <td>N100,000</td>
                    <td>N10,000</td>
                    <td>200 PV</td>
                    <td>10 LEVELS DEEP</td>    
                </tr>    

                <tr>
                    <td>PLATINUM</td>
                    <td>N50,000</td>
                    <td>N10,000</td>
                    <td>200 PV</td>
                    <td>10 LEVELS DEEP</td>
                </tr>    

                <tr>
                    <td>DIAMOND</td>
                    <td>N40,000</td>
                    <td>N8,000</td>
                    <td>160 PV</td>
                    <td>9 LEVELS DEEP</td>
                </tr>    

                <tr>
                    <td>GOLD</td>
                    <td>N30,000</td>
                    <td>N6,000</td>
                    <td>120 PV</td>
                    <td>8 LEVELS DEEP</td>
                </tr>    

                <tr>
                    <td>SILVER</td>
                    <td>N20,000</td>
                    <td>N4,000</td>
                    <td>80 PV</td>
                    <td>7 LEVELS DEEP</td>
                </tr>    

                <tr>
                    <td>BRONZE</td>
                    <td>N10,000</td>
                    <td>N2,000</td>
                    <td>40 PV</td>
                    <td>6 LEVELS DEEP</td>
                </tr>    

                <tr>
                    <td>BASIC</td>
                    <td>N5,000</td>
                    <td>N1,000</td>
                    <td>20 PV</td>
                    <td>5 LEVELS DEEP</td>
                </tr>                    
            </table>
        

            <div class="overlay_2">
                <div class="overlay_header">YOU ALSO GET TO MAKE EXTRA EARNING POINT THROUGH ANY OR ALL OF THE FOLLOWING MEDIUM</div>
                
                <div class="overlay_text">
                    <div class="check_mark">✔</div>
                    <div class="check_mark_desc">SIGNUP COMMISSION (20%)</p>
                </div>
                
                <div class="overlay_text">
                    <div class="check_mark">✔</div>
                    <div class="check_mark_desc">DIRECT REFERRAL COMMISSION ( 20%)</p>
                </div>
                
                <div class="overlay_text">
                    <div class="check_mark">✔</div>
                    <div class="check_mark_desc">INDIRECT REFERRAL COMMISSION ( 10% - 1%)</p>
                </div>
                
                <div class="overlay_text">
                    <div class="check_mark">✔</div>
                    <div class="check_mark_desc">LEADERSHIP BONUS</p>
                </div>
                
                <div class="overlay_text">
                    <div class="check_mark">✔</div>
                    <div class="check_mark_desc">INCENTIVES</p>
                </div>
    
                <div class="overlay_text">
                    <div class="check_mark">✔</div>
                    <div class="check_mark_desc">VTU BONUS ON AIRTIME AND DATA</p>
                </div>
            </div>
    
            <div class="overlay_slider_container">
                <div class="overlay_slider">
                    <div class="overlay_slides">
                        <input type="radio" name="radio_btn" id="radio1">
                        <input type="radio" name="radio_btn" id="radio2">
                        <input type="radio" name="radio_btn" id="radio3">
                        <input type="radio" name="radio_btn" id="radio4">
                        <input type="radio" name="radio_btn" id="radio5">
                        <input type="radio" name="radio_btn" id="radio6">

                        <div class="overlay_slide first">
                            <div class="overlay_slideshow_header">SIGNUP COMMISSION</div>
                            <div class="overlay_slideshow_info">YOU EARN 20% OF YOUR PERSONAL SIGNUP FEE.</div>
                            <p class="overlay_slideshow_example_header">EXAMPLE</p>
                            <div class="overlay_slideshow_example_details">YOUR REGISTERATION FEE - N50,000 SUC IS 20% OF N50,000 = N10,000</div>
                        </div>
                        
                        <div class="overlay_slide">
                            <div class="overlay_slideshow_header_3">DIRECT REFERRAL COMMISSION ( 20%)</div>
                            <div class="overlay_slideshow_info">EARN 20% DRC FOR ANYONE YOU REFER DIRECTLY TO RAGP IRRESPECTIVE OF YOUR OWN REGISTRATION FEE.</div>
                            <p class="overlay_slideshow_example_header">EXAMPLE</p>
                            <div class="overlay_slideshow_example_details">
                                YOU REFERRED KATE WHO REGISTERED WITH N50,000 YOUR DRC IS 20% OF KATE’S REGISTERATION FEE. i.e. 20% OF N50,000 = N10,000
                            </div>       
                        </div>
                        
                        <div class="overlay_slide">
                            <div class="overlay_slideshow_header_4">INDIRECT REFERRAL COMMISSION ( 10% - 1%)</div>
                            <div class="overlay_slideshow_header_2">
                                INDIRECT DOWN LINES ARE PEOPLE REFERRED BY YOUR DIRECT DOWN LINES, DOWN TO 9TH LEVEL. EARN 10% - 1% IRC FOR ANYONE REFERRED TO RAGP BY YOUR DOWNLINES
                            </div>
                            
                            <div class="overlay_slideshow_info_2_flex">
                                <div class="overlay_slideshow_info_2">
                                    <p>2ND LEVEL : 10%</p>
                                    <p>3RD LEVEL : 5%</p>
                                    <p>4TH LEVEL : 2.5%</p>
                                    <p>5TH LEVEL : 1.25%</p>
                                    <p>6TH – 10TH LEVEL : 1%</p>
                                </div>
                                
                                <div class="overlay_slideshow_info_3">
                                    <p class="overlay_slideshow_info_header">EXAMPLE</p>
                                    <div class="overlay_slideshow_info_details_flex">
                                        <div class="overlay_slideshow_info_details">
                                            <p>YOU REFERRED KATE</p>
                                            <p>KATE REFERRED BOSE (YOU EARN 10%)</p>
                                            <p>BOSE REFERRED AYO (YOU EARN 5%)</p>
                                            <p>AYO REFERRED MUSA (YOU EARN 2.5%)</p>
                                            <p>MUSA REFERRED ADA (YOU EARN 1.25%)</p>
                                        </div>

                                        <div class="overlay_slideshow_info_details">
                                            <p>ADA REFERRED TAYE (YOU EARN 1%)</p>
                                            <p>TAYE REFERRED AKIN (YOU EARN 1%)</p>
                                            <p>AKIN REFERRED DIDI (YOU EARN 1%)</p>
                                            <p>DIDI REFERRED LOUIS (YOU EARN 1%)</p>
                                            <p>LOUIS REFERRED ROSE (YOU EARN 1%)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="overlay_slide">
                            <div class="overlay_slideshow_header">LEADERSHIP BONUS</div>
                            <p class="overlay_slideshow_info_5">YOU EARN LB BASED ON YOUR TEAM’S TOTAL MONTHLY POINT VALUE (PV OF ALL YOUR PARTNERS / DOWNLINES AND YOURS)</p>
                            <div class="overlay_example_adjust">
                                <p class="overlay_slideshow_example_header_2">
                                    TO QUALIFY, YOU MUST BE A PLATINUM, DIAMOND OR GOLD MEMBER WITH THE FOLLOWING PV CUMULATIVE
                                </p>
                                <div class="overlay_slideshow_example_details_2">
                                    <li>10,000 PV - PLATINUM MEMBER EARN N100,000</li>
                                    <li> 10,000 PV - DIAMOND MEMBER EARN N50,000</li>
                                    <li> 10,000 PV - GOLD MEMBER EARN N25,000</li>
                                </div>
                            </div>
                        </div>
                        
                        <div class="overlay_slide">
                            <div class="overlay_slideshow_header">INCENTIVES</div>
                            <p class="overlay_slideshow_info">
                                YOU QUALIFY FOR INCENTIVES BASED ON YOUR TEAM’S CUMMULATIVE POINT VALUE (PV OF ALL YOUR PARTNERS / DOWNLINES AND YOURS)
                            </p>
                            <p class="overlay_slideshow_example_header"></p>
                            <p class="overlay_slideshow_example_details"></p>
                        </div>
                        
                        <div class="overlay_slide">
                            <div class="overlay_slideshow_header_4">VTU BONUS ON AIRTIME AND DATA</div>
                            <p class="overlay_slideshow_info">PROFIT ON PERSONAL AIRTIME RECHARGE AND SALE</p>
                            <p class="overlay_slideshow_info_7">
                                <li class="overlay_slideshow_info_7_details">AIRTIME - 2%</li>
                                <li class="overlay_slideshow_info_7_details">DATA- 10%</li>
                            </p>
                            <p class="overlay_slideshow_info">PROFIT ON PERSONAL AIRTIME RECHARGE AND SALE</p>
                            <p class="overlay_slideshow_info_7">
                                <li class="overlay_slideshow_info_7_details">AIRTIME - 0.35%</li>
                                <li class="overlay_slideshow_info_7_details">DATA- 1%</li>
                            </p>
                        </div>

                        <!--Manual Navigation Start-->
                        <div class="navigation_manual">
                            <label for="radio1" class="manual_btn"></label>
                            <label for="radio2" class="manual_btn"></label>
                            <label for="radio3" class="manual_btn"></label>
                            <label for="radio4" class="manual_btn"></label>
                            <label for="radio5" class="manual_btn"></label>
                            <label for="radio6" class="manual_btn"></label>
                        </div>
                    </div>
                </div>
            </div>
                
    
    
            <div class="description_third_header">NOW WHY DO YOU NEED TO LEVERAGE THIS PLATFORM TO CREATE A PASSIVE INCOME STREAM FOR YOURSELF?</div>

            <div class="description_details_3">
                <li>TELECOM BUSINESS HAS NO RISK </li>
                <li>TELECOM IS THE LATEST 21ST  BUSINESS OF THE WORLD </li>
                <li>ALL ITS PRODUCTS ( AIRTIME, DATA, ETC.) ARE CONSUMABLE WORLDWIDE. Everyone uses them. You don't have problems finding buyers.</li>
                <li>IN FACT, EVERYONE IS ADDICTED TO THE USE OF OUR PRODUCTS. Even when people are sick, hungry, in trouble or in jail, they find way to call for help.</li>
                <li>TELECOM PRODUCTS ARE THE MOST AFFORDABLE. Everybody is able to buy credit or data at sometimes.</li>
                <li>OUR PRODUCTS ARE HOT AT ALL TIMES. No one needs to advertise data and credits to win customers.</li>
                <li>THEY ARE EASILY USABLE. You don't need extra time to show people how to us their phones. People just learn by themselves.</li>
                <li>THEY ARE VERY EASY TO HANDLE .... All you need is a phone. No warehouse for storage, no security threat as such. They are virtual.</li>
                <li>NO SHORTAGE ... You have no problems of shortage of products or goods. You can access our products at anytime and everywhere.</li>
                <li>NO PROBLEM MOVING ANYTHING, NO EXPIRATION. You don't need carrying anything to worry about.</li>
                <li>TELECOM IS THE CHEAPEST BUSINESS TO START ... As low as N5,000 - N100,000  You can start you up in TELECOM Business. Even students can afford it.</li>
                <li>INSTANT EARNING ON YOUR PHONE ... Your money comes on your phone instantly as transactions are done.</li>
            </div>
            
            <p class="description_fourth_header">OH WELL! WHERE DO I GO FROM HERE THEN</p>
            <div class="description_details_4">
                If you have read through this page and it all made sense to you, you can get in touch with us now, <a href="{% url 'contact' %}">here</a>. If you still have any 
                or many questions, YOU ARE NOT ALONE. We will give you all the necessary support you need to grow fast in the business. We organize online and offline presentation
                where you can invite your prospects and they get started with you.
                Once you register, you will be added to our training platform and our community, so we can take you through the process including next steps and more importantly,
                strategies and tips on how to achieve your goals.
            </div>

            <p class="description_quote">IF YOU DON’T LEARN HOW TO GET PAID WHILE YOU SLEEP, YOU’LL WORK UNTIL YOU DIE - <span>Warren Buffet</span></p>
        </div>

        <div class="footer">
            <div class="footer_about">
                RECHARGE AND GET PAID (RAGP) is a Nigerian owned telecom company headquartered in Abuja and duly registered with the Corporate Affairs Commission (CAC); (RC Number: 
                1279919) and licensed by the Nigerian Communications Commission (NCC) to carry out telecoms-related businesses.
                RAGP is a platform that help create wealth for people. Our mission is to provide safe and secure place where a life changing income can be built.
                Our company is the simplest, easiest and fastest way to achieving wealth, help you set up Plan B Financially and earn residual income seamlessly.
            </div>

            <div class="mail_phone_flex">
                <div class="phone_container">
                    <div class="phone_1"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                    <div class="phone_2">+2348034195656</div>
                    <div class="phone_2">+2348103344427</div>
                </div>
                
                <div class="mail_container">
                    <div class="mail_1"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="mail_2">inforechargeandgetpaid@gmail.com</div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
