{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contact Us</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">  
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/contactUs.css' %}">    
</head>
<body>

    <div class="whole_page">
    	<header class="header">        
            <div class="nav_bar">
                <P class="header_text">RECHARGE <span>and</span> </P>
                <p class="header_text_2">GETPAID</p>
                
                <div class="menu_links">
                    <a href="{% url 'home' %}">HOME</a>
                    <a href="{% url 'bizinfo' %}">HOW IT WORKS</a>
                    <a href="{% url 'about' %}">ABOUT US</a>
                </div>
            </div>
		</header>
        
        
        <div class="picture_section">
    		<div class="image_container">
        		<div class="images">
                    <img  src="{% static 'images/vtu 4.jpg' %}" class="pictures" alt="">
        		</div>
        	</div>
        
        	<div class="overlay">
        		<div class="contact_us">CONTACT US</div>
            </div>
    	</div>
        
        
        <div class="body">
        	<div class="body_header">CONTACT US</div>
            <hr class="body_horizontal_2" width="7%">
            
            <div class="welcome_text">
            	Thank you for making this decision to register with <span>RECHARGE AND GET PAID</span>. And to create another passive income stream for yourself and your family. Please use 
                the any of contact medium below.
            </div>
            
            <div class="body_contact">
                <div class="body_contact_image"><i class="fa fa-mobile" aria-hidden="true"></i></div>
            	<div class="body_contact_text">CONTACT US VIA OUR PHONE LINES</div>
                <div class="body_contact_text_2">For enquiries, please call or message us</div>
                <div class="body_contact_text_3">+2348034195656</div>
                <div class="body_contact_text_3">+2348103344427</div>
            </div>

            <div class="body_contact">
                <div class="body_contact_image_2"><i class="fa fa-envelope" aria-hidden="true"></i></div>
            	<div class="body_contact_text">EMAIL US</div>
                <div class="body_contact_text_2">You can also send us a mail</div>
                <div class="body_contact_text_4">inforechargeandgetpaid@gmail.com</div>
            </div>

            <div class="body_connect">
                <div class="body_connect_image"><i class="fa fa-whatsapp" aria-hidden="true"></i></div>
            	<div class="body_connect_text">CONNECT WITH US ON WHATSAPP</div>
                <div class="body_connect_text_2">Connect with us and stay updated via our WhatsApp community</div>
                <div class="body_connect_text_3">+2348034195656</div>
			</div>
        </div>

        <div class="footer">
            <div class="footer_about">
                RECHARGE AND GET PAID (RAGP) is a Nigerian owned telecom company headquartered in Abuja and duly registered with the Corporate Affairs Commission (CAC); (RC Number: 
                1279919) and licensed by the Nigerian Communications Commission (NCC) to carry out telecoms-related businesses.
                RAGP is a platform that help create wealth for people. Our mission is to provide safe and secure place where a life changing income can be built.
                Our company is the simplest, easiest and fastest way to achieving wealth, help you set up Plan B Financially and earn residual income seamlessly.
            </div>

            <div class="mail_phone_flex">
                <div class="phone_container">
                    <div class="phone_1"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                    <div class="phone_2">+2348034195656</div>
                    <div class="phone_2">+2348103344427</div>
                </div>
                
                <div class="mail_container">
                    <div class="mail_1"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    <div class="mail_2">inforechargeandgetpaid@gmail.com</div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>




