body {
    padding: 0;
    margin: 0;
}

/*THE HEADER*/
.header{
	background-color: darkred;
	width:100%;
	height:130px;
    position:relative;
    z-index: 1;
}
.nav_bar {
	width: 85%;
	display: flex;
	align-items: center;
	position: relative;
	top: -20px;
}

.header_text{
	font: bolder 30px Potta One;
	color:orange;
	word-spacing:3px;
	padding-left: 50px;
	text-decoration:none;
}

.header_text span {
	font: bolder 19px 'Myriad Pro';
	color:white;
	word-spacing:3px;
	padding-left 40px;
	text-decoration:none;
}

.header_text_2{
	font: bolder 40px Potta One;
	color:red;
	word-spacing:3px;
	position: relative;
	left: -130px;
	padding-top: 65px;
	text-decoration:none;
}

.menu_links{
	flex: 1;
	align-items: center;
	text-align: right;
	position: relative;
	top: 20px;
	left: 120px;
}

.menu_links a{
	font:600 16px "Myriad Pro";
	color:yellow;
	word-spacing:3px;
	margin-left:60px;
	text-decoration:none;
}


/*PICTURES SECTION*/
/*Image Section*/
.pictures{
	width:100%;
	height:600px;
	position:relative;
	bottom:40px;}

/*Overlay Section*/
.overlay{
	width:100%;
	height:600px;
	background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
	position:relative;
	bottom:644px;}
	
.contact_us{
	color:red;
	font: 700 25px "Myriad Pro";
	text-align:right;
	padding-top:130px;
	padding-right:50px;
	margin-bottom:20px;}
	
/*Body Section*/
.description {
	width:100%;
	height:1500px;
	background-color:#F3F3F3;
	position:absolute;
    top:350px;
}

.description_header {
    width: 1100px;
    color: orange;
    font: 700 30px "Myriad Pro";
	text-align: center;
	margin-left: 80px;
	margin-bottom: 20px;    
	padding-top: 40px
}

.description_details {
    width: 1100px;
    color: #003;
    font: 700 20px "Myriad Pro";
    text-align: center;
    margin: 0 0 40px 80px;
    line-height: 30px;
}

.description_image {
    width: 800px;
    height: 450px;
    margin-left: 230px;
}


/*FOOTER*/
.footer {
	background-color: black;
	width:100%;
	height: 300px;
	position: absolute;
	top: 1850px;
	display: flex;
}

.footer_about {
	width: 450px;
	margin-left: 50px;
	position: absolute;
	top: 40px;
	color: lightgray;
	font: 400 17px "Myriad Pro";
	line-height: 23px;
}

.mail_phone_flex {
	width: 50px;
	position: absolute;
	top: 40px;
	color: lightgray;
	font: 400 17px "Myriad Pro";
}

.phone_container {
	display: flex;
	margin-bottom: 50px;
}

.phone_1 {
	padding-left: 700px;
}

.phone_2 {
	padding-left: 20px;
}

.mail_container {
	display: flex;
	margin-bottom: 50px;
}

.mail_1 {
	padding-left: 700px;
}

.mail_2 {
	padding-left: 20px;
}